set -a

###
# Sample .envrc file containing all environment variables
###
git config --local user.email <your email>
git config --local user.name <your username>

export GOOGLE_APPLICATION_CREDENTIALS="key.json"
